QLabel
{
    border: none;
    outline: 0px;
}

QLabel#CLblBackgroundLeft
{
    background-color: #24282a;
}

QLabel#CLblBackgroundUp
{
    background-color: #e6e6e6;
}

QLabel#CLblBackgroundRight
{
    background-color: #f5f5f5;
}

QPushButton
{
    border: none;
    outline: 0px;
}

QPushButton#CBtnSession
{
    background-image: url(:/home/resource/image/button_session_normal.png);
}
QPushButton#CBtnSession:hover
{
    background-image: url(:/home/resource/image/button_session_hover.png);
}
QPushButton#CBtnSession:pressed
{
    background-image: url(:/home/resource/image/button_session_checked.png);
}
QPushButton#CBtnSession:checked
{
    background-image: url(:/home/resource/image/button_session_checked.png);
}

QPushButton#CBtnMail
{
    background-image: url(:/home/resource/image/button_mail_normal.png);
}
QPushButton#CBtnMail:hover
{
    background-image: url(:/home/resource/image/button_mail_hover.png);
}
QPushButton#CBtnMail:pressed
{
    background-image: url(:/home/resource/image/button_mail_checked.png);
}
QPushButton#CBtnMail:checked
{
    background-image: url(:/home/resource/image/button_mail_checked.png);
}

QPushButton#CBtnSet
{
    background-image: url(:/home/resource/image/button_set_normal.png);
}
QPushButton#CBtnSet:hover
{
    background-image: url(:/home/resource/image/button_set_hover.png);
}

QPushButton#CBtnMinimum
{
    background-image: url(:/home/resource/image/button_minimum_normal.png);
}
QPushButton#CBtnMinimum:hover
{
    background-image: url(:/home/resource/image/button_minimum_hover.png);
}
QPushButton#CBtnMinimum:pressed
{
    background-image: url(:/home/resource/image/button_minimum_pressed.png);
}

QPushButton#CBtnClose
{
    background-image: url(:/home/resource/image/button_close_normal.png);
}
QPushButton#CBtnClose:hover
{
    background-image: url(:/home/resource/image/button_close_hover.png);
}
QPushButton#CBtnClose:pressed
{
    background-image: url(:/home/resource/image/button_close_pressed.png);
}

QLineEdit#CLedSearch
{
    border: none;
    outline: none;
    background-color: #d2d2d2;
    color: black;
}

QGroupBox
{
    border: none;
    outline: none;
}
